@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(228, 224, 224, 0.826);
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: rgba(3, 103, 157, 0.763);
    text-align: center;
    padding: 3%;
}

header > h1 {
    color: rgb(255, 255, 255);
    font-size: 3em;
    text-shadow: #000 2px 3px 2px;
}

main {
    width: 1000px;
    margin: auto;
    background-color: white;
}

h2 {
    color: #000;
    font-size: 1.5em;
    padding: 30px 10px;
}

ol > li{
    margin: 0px 40px;
    padding: 30px;
    text-align: justify;
}

