@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(228, 224, 224, 0.826);
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: rgba(3, 103, 157, 0.763);
    text-align: center;
    padding: 3%;
}

header > h1 {
    color: rgb(255, 255, 255);
    font-size: 2em;
    text-shadow: #000 2px 3px 2px;
}

main {
    width: 1100px;
    margin: auto;
    background-color: white;
}

h2 {
    color: #000;
    font-size: 1.5em;
    padding: 30px 10px;
}
pre {
    border: 1px solid #ddd;
    overflow-x: auto;
}
code {
    font-family: Consolas, "Courier New", Courier, monospace;
}

p{
    font-size: 1.1em;
    padding: 10px;
    font-weight: bolder;
}

section{
    margin: 2% 6%;
}
ol{
    list-style-type: lower-alpha;
}

li{
    padding:20px;
    font-size: 1.1em;
}
